@import url('Comman_Properties.css');

header,footer,main{
    width: 100%;
    padding: 10px;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    display: flex;
    flex-direction: column;
}
header,footer{
    flex: none;
}

/* side panel  */
#side_navigation
{
    position: absolute;
    width: 0vw;
    max-width: 450px;
    height: 100%;
    background-color: rgb(74, 74, 78);
    z-index: 12;
    transition: width 0.3s ease-out;
}
#side_nav_cancelButton
{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    color: white;
}

/* header section */
header{
    background-color: white;
    box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.259);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#navigate_btn{
    position: absolute;
    left: 1em;
    height: 50%;
    width: 7vmin;
    border-radius: 3px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px 0.5px rgba(107, 104, 104, 0.727);
}
.lines{
    background-color: white;
    position: relative;
    width: 70%;
    height: 2px;
    margin: 3px;
}
header h1{
    font-family: Brush Script MT (cursive);
    position: relative;
    font-size: 7vmin;
    /* font-family: 'Times New Roman', Times, serif; */
}
#login{
    height: 50%;
    width: 6vmin;
    border-radius: 50%;
    background-image: url("Icons/login.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 12;
    position: absolute;
    right: 15px;
}

/* footer section */
footer{
    background-color: rgba(0, 0, 0, 0.919);
    width: 100%;
    height: 170px;
    color: white;
}

/* main section */
#float_cart{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: rgb(241, 189, 149);
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 10px;
    background-image: url("Icons/cart_bw.svg");
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
}
main{
    flex: auto;
    background-color: rgba(206, 205, 205, 0.26);
    padding: 7px;
}
#card_layout{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(31vmin, 1fr));
}

#card{
    background-color: var(--card-back-color);
    height: 43vmin;
    width: 30vmin;
    border-radius: 10px;
    padding: 7px;
    gap : 5px;
    box-shadow: 1px 1px 7px 0.5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.card_img{
    height: 78%;
    width: 100%;
    margin-bottom: 2px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}
.card_img img{
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#price{
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: black;
    padding: 2px 7px;
    border-radius: 3px;
    font-weight: 900;
    right: 5px;
}
.card_details{
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card_details p{
    font-size: 2vmin;
    font-weight: 700;
}

/* responsive ui  */
/* @media screen and ((max-width : 400px))
{}