*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana (sans-serif);
}

html,body{
    min-height: 100%;
    width: 100%;
}

body{
    position: absolute;
}
