/* global setting */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}
header,footer{
    flex: none;
}
/* end global setting */

/* header section */
header{
    background-color: #343A40;
    height: 17vmin;
    max-height: 100px;
    top: 0px;
    position: sticky;
    z-index: 1;
    box-shadow: 0.3px 0.3px 15px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}
#header-left-section{ 
    width: 30%; 
    height: 60%; 
    display: flex;
    align-items: center;
}
#header-center-section{ 
    width: 40%; 
    height:40%; 
    display: flex;
}
#header-right-section{ width: 30%; height: 40%;}

#profile_btn{
    background-color: rgb(174, 173, 173);
    display: inline-block;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: url("../Icons/login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    margin-left: 2vmin;
}

#header-center-section input,#header-center-section button{
    height: 100%;
    border: none;
    border-radius: 3px;
}
#header-center-section input{
    width: 90%;
    font-size: 2.5vmin;
    padding: 0.7vmin;
} 
#header-center-section button{
    background-image: url("../Icons/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    margin-left: 2px;
    background-color: rgb(163, 163, 161);
}

#header-right-section ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
}
#header-right-section li{
    display: flex;
    align-items: center;
}
#header-right-section ul li img{
    height: 100%;
    margin-right: 3.5vw;
}
@media screen and ((max-width : 800px))
{
    #header-left-section{
        width: 12%;
    }
    #header-center-section{
        width: 50%;
    }
}
/* end header section */

/* main section */
main{
    /* background-color: #F8F9FA; */
    background-color: rgba(0, 0, 0, 0.714);
    overflow: auto;
    padding-top: 10px;
}
main::-webkit-scrollbar{
    display: none;
}

/* side panel styling */
#side_panel{
    background-color: #242527;
    z-index: 2;
    height: 100%;
    width: 70vw;
    max-width: 400px;
    position: fixed;
    left: -71vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.5s ease-in-out;
    padding: 10px;
}
#side_panel_close_button{
    position: absolute;
    right: 1.5vmin;
    top: 1.5vmin;
    background: transparent;
    border: none;
    color: rgb(135, 133, 133);
    font-size: 4vmin;
}
#side_panel img{
    height: 20vmin;
    aspect-ratio: 1 / 1;
    background-color: rgb(110, 109, 109);
    border-radius: 50%;
}
#side_panel p{
    margin-top: 1.5vmin;
    font-size: 5vmin;
    color: white;
}
#side_panel_menus{
    height: 100%;
    width: 100%;
    color: rgb(122, 121, 121);
    font-size: 4vmin;
    font-family: serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#side_panel_menus li{
    height: 5vmin;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3vmin;
    margin-top: 2vmin;
}
#side_panel_menus li:hover{
    color: white;
    background-color: rgba(49, 209, 245, 0.642);
}

#side_panel_menus img{
    height: 4.5vmin;
    border-radius: 0px;
    background-color: transparent;
    margin-right: 1.5vmin;
    border-radius: none;
}
/* end side panel styling */

/* card styling */
#card_layout{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(38vmin, 1fr));
}

#card{
    background-color: var(--card-back-color);
    height: 47vmin;
    width: 37vmin;
    border-radius: 2%;
    padding: 7px;
    box-shadow: 2px 2px 7px 0.1px rgba(0, 0, 0, 0.501);
    margin-bottom: 17px;
    background-color: #f4f4f5;
    transition: transform 0.5s ease-in,box-shadow 0.5s ease-in;
}
.card_img{
    height: 78%;
    width: 100%;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.5s ease-in;
}
.card_img img{
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#price{
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.512);
    padding: 2px 7px;
    border-radius: 3px;
    font-weight: 900;
    right: 5px;
    font-size: 2.5vmin;
}
.card_details{
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card_details p{
    font-size: 2vmin;
    font-weight: 700;
}

#card:hover{
    box-shadow: 0px 0px 70px 7px cyan;
    /* transform: rotate3d(1,1,0,20deg); */
}
#card:hover .card_img{
    box-shadow: -1px -1px 20px 0.2px cyan;
}
#card:hover #price{
    background-color: red;
}
/* end card styling */

/* footer section which is inside main  */
footer{
    background-color: rgba(0, 0, 0, 0.919);
    width: 100%;
    height: 37vmin;
    color: white;
}
/*end main section */