/* global setting */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}
header,footer{
    flex: none;
}
/* end global setting */

/* header section */
header{
    background-color: #343a40;
    height: 17vmin;
    max-height: 100px;
    top: 0px;
    position: sticky;
    z-index: 1;
    box-shadow: 0.3px 0.3px 15px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}
#header-left-section{ 
    width: 30%; 
    height: 60%; 
    display: flex;
    align-items: center;
}
#header-center-section{ 
    width: 40%; 
    height:40%; 
    display: flex;
}
#header-right-section{ width: 30%; height: 40%;}

#profile_btn{
    background-color: rgb(174, 173, 173);
    display: inline-block;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: url("../Icons/login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    margin-left: 2vmin;
}

#header-center-section input,#header-center-section button{
    height: 100%;
    border: none;
    border-radius: 3px;
    
    box-shadow: 
        0.3px 0.5px 0.6px hsl(0deg 0% 0% / 0.14),
        1.1px 2.2px 2.4px -0.6px hsl(0deg 0% 0% / 0.13),
        2.3px 4.6px 5.1px -1.1px hsl(0deg 0% 0% / 0.12),
        4.4px 8.8px 9.7px -1.7px hsl(0deg 0% 0% / 0.11),
        8.1px 16.2px 17.9px -2.3px hsl(0deg 0% 0% / 0.1),
        14px 28px 31px -2.8px hsl(0deg 0% 0% / 0.09),
        22.8px 45.5px 50.4px -3.4px hsl(0deg 0% 0% / 0.08);
}
#header-center-section input{
    width: 90%;
    font-size: 2.5vmin;
    padding: 0.7vmin;
} 
#header-center-section button{
    background-image: url("../Icons/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1 / 1;
    margin-left: 2px;
    background-color: rgb(163, 163, 161);
}

#header-right-section ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;
}
#header-right-section li{
    display: flex;
    align-items: center;
}
#header-right-section ul li img{
    height: 100%;
    margin-right: 3.5vw;
}
@media screen and ((max-width : 800px))
{
    #header-left-section{
        width: 12%;
    }
    #header-center-section{
        width: 50%;
    }
}
/* end header section */

/* main section */
main{
    /* background-color: #F8F9FA; */
    background-color: hsl(220deg 100% 80%);
    /* background-color: rgba(0, 0, 0, 0.714); */
    overflow: auto;
    padding-top: 10px;
}
main::-webkit-scrollbar{
    display: none;
}

/* side panel styling */
#side_panel{
    background-color: #242527;
    z-index: 2;
    height: 100%;
    width: 70vw;
    max-width: 400px;
    position: fixed;
    left: -71vw;
    /* left : 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.5s ease-in-out;
    padding: 10px;
}
#side_panel_close_button{
    position: absolute;
    right: 1.5vmin;
    top: 1.5vmin;
    background: transparent;
    border: none;
    color: rgb(135, 133, 133);
    font-size: 4vmin;
}
#side_panel img{
    height: 20vmin;
    aspect-ratio: 1 / 1;
    background-color: rgb(110, 109, 109);
    border-radius: 50%;
}
#side_panel p{
    margin-top: 1.5vmin;
    font-size: 5vmin;
    color: white;
}
#side_panel_menus{
    height: 100%;
    width: 100%;
    color: rgb(122, 121, 121);
    font-size: 4vmin;
    font-family: serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#side_panel_menus li{
    height: 5vmin;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3vmin;
    margin-top: 2vmin;

    transition: box-shadow 0.2s ease-in,
        font-size 0.2s ease-in,
        background-color 0.2s ease-in;
    /* background-color: red; */
}
:root{
    /* --shadow-color : 0deg 1% 25%; */
    --shadow-color : 0deg 0% 50%;
    #side_panel_menus li:hover{
        color: white;
        font-size: 4.2vmin;
        box-shadow: 0px 0px 25px 0.2px rgba(255, 255, 255, 0.349);
        background-color: rgba(142, 140, 140, 0.14);
        /* box-shadow: 7px 7px 50px 0.1px rgba(0, 0, 0, 0.489); */
    }
  
}
#side_panel_menus img{
    height: 4.5vmin;
    border-radius: 0px;
    background-color: transparent;
    margin-right: 1.5vmin;
    border-radius: none;
    transition: height 0.2s ease-in; 
}
#side_panel_menus li:hover img{
    height: 5.2vmin;
}

#sign_in_page{
    background-color: #242527;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: grid;
    place-items: center;
    color: white;
    font-size: 7vmin;
    padding: 4vmin;
}
#login{
    color: blue;
    text-decoration: underline;
}
/* end side panel styling */

/* card styling */
#card_layout{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(38vmin, 1fr));
}

#card{
    background-color: var(--card-back-color);
    height: 47vmin;
    width: 37vmin;
    border-radius: 2%;
    padding: 7px;

    /* box-shadow: 2px 2px 7px 0.1px rgba(0, 0, 0, 0.501); */
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    /* filter: drop-shadow(
      1px 2px 5px hsl(220deg 60% 50%)
    ); */
    
    margin-bottom: 17px;
    background-color: #f4f4f5;
}
.card_img{
    height: 78%;
    width: 100%;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
}
.card_img img{
    z-index: -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#price{
    font-family: sans-serif;
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.512);
    padding: 2px 7px;
    border-radius: 3px;
    right: 5px;
    font-size: 2vmin;
}
#img_like{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 5%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
    background-image: url("../Icons/heart_black.svg");
}
.card_details{
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2vmin;
}
#category{ color: gray; }
.card_details p{
  /* background-color: red; */
}

/* footer section which is inside main  */
footer{
    background-color: rgba(0, 0, 0, 0.919);
    width: 100%;
    height: 37vmin;
    color: white;
}
/*end main section */